nav {
    --text-primary: var(--white-light);
    --text-secondary: var(--white-dark);
    --bg-primary: var(--black-light);
    --bg-secondary: var(--black-dark);
    --transition-time: 450ms;

    position: fixed;
    overflow: hidden;
    background-color: var(--bg-primary);
    z-index: 200;
}

nav.open {
    overflow-y: scroll;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navBar-item {
    width: 100%;
}

.navBar-div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5em;
}

.navBar-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5em;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: none 550ms ease;
}

.navBar-link:hover {
    background-color: var(--bg-secondary);
    filter: grayscale(0%) opacity(1);
}

.navBar-link.logo {
    background-color: var(--bg-secondary);
}

.navBar-link-current {
    filter: grayscale(15%) opacity(0.8);
}

.navBar-link svg {
    width: 2.5em;
    height: 3em;
    min-width: 2.5em;
    padding: 0 1.25em;
    transition: transform var(--transition-time) ease, margin var(--transition-time) ease;
}

.navBar-link.logo svg {
    width: 2.5em;
    height: 2.5em;
}

.navBar-text {
    display: none;
    color: var(--text-primary);
    opacity: 0;
    white-space: nowrap;
    transition: opacity 1500ms ease;
}

nav.open .navBar-text {
    display: block;
    opacity: 1;
}

.navBar-text.logo {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.3ch;
    width: 100vw;

    display: inline;
    position: absolute;

    transition: left var(--transition-time);
}

.fa-primary {
    color: var(--orange-light);
}
  
.fa-secondary {
    color: var(--orange-dark);
}


/* Small screens */
@media only screen and (max-width: 600px) {
    nav {
        left: 0;
        right: 0;
        bottom: 0;
        height: 5em;

        transition: height var(--transition-time) ease;
        font-size: max(1rem, 2vh);
    }
    
    nav.open {
        height: 100vh;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
    }
        
    nav ul {
        flex-direction: column;
    }

    .navBar-text.logo {
        left: 150vw;
        transition-delay: var(--transition-time) / 2;
    }

    nav.open .navBar-text.logo {
        left: 3.3em;
    }
    
    nav.open .navBar-link.logo svg {
        transform: rotate(90deg);
    }
}


/* Large screens */
@media only screen and (min-width: 600px) {
    nav {
        left: 0;
        top: 0;
        bottom: 0;
        width: 5em;

        transition: width var(--transition-time) ease;
        font-size: max(1.2rem, 1.3vw);
    }

    nav.open {
        width: 17em;
    }

    nav ul {
        flex-direction: column;
    }
 
    .navBar-text.logo {
        left: -999px;
    }

    nav.open .navBar-text.logo {
        left: 2.5em;
    }
    
    nav.open .navBar-link.logo svg {
        transform: rotate(-270deg);
        margin-left: 12em;
    }
}


/* Scroll Bar */

nav::-webkit-scrollbar {
    width: 0.4em;
}
  
nav::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
  
nav::-webkit-scrollbar-thumb {
    background: var(--orange-light);
    transition: all 200ms ease;

    border: 0.1em solid var(--black-light);
    border-radius: 100vw;
}
  
nav::-webkit-scrollbar-thumb:active {
    background: var(--orange-dark);
}

@supports (scrollbar-color: var(--orange-light) var(--black-light)) {
    * {
      scrollbar-color: var(--orange-light) var(--black-light);
      scrollbar-width: thin;
    }
  }