nav {
    --text-primary: var(--white-primary);
    --text-secondary: var(--white-secondary);
    --bg-primary: var(--black-primary);
    --bg-secondary: var(--black-secondary);
    --transition-time: 450ms;

    position: fixed;
    overflow: hidden;
    background-color: var(--bg-primary);
    transition: all var(--transition-time) ease;
    z-index: 200;
}

nav.open {
    overflow-y: scroll;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navBar-item {
    width: 100%;
}

.navBar-div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
}

.navBar-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 550ms;
}

.navBar-link:hover {
    background-color: var(--bg-secondary);
    filter: grayscale(0%) opacity(1);
}

.navBar-link.logo {
    background-color: var(--bg-secondary);
}

.navBar-link-current {
    filter: grayscale(15%) opacity(0.8);
}

.navBar-link svg {
    width: 2.5rem;
    min-width: 2.5rem;
    padding: 0 1.25rem;
    transition: all var(--transition-time) ease;
}

.navBar-text {
    display: none;
    color: var(--text-primary);
    opacity: 0;
    white-space: nowrap;
    transition: opacity 150ms ease;
}

nav.open .navBar-text {
    display: block;
    opacity: 1;
}

.navBar-text.logo {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100vw;

    display: inline;
    position: absolute;
}

.fa-primary {
    color: var(--orange-primary);
}
  
.fa-secondary {
    color: var(--orange-secondary);
}


/* Small screens */
@media only screen and (max-width: 600px) {
    nav {
        left: 0;
        right: 0;
        bottom: 0;
        height: 5rem;
    }
    
    nav.open {
        height: 100vh;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
    }
        
    nav ul {
        flex-direction: column;
    }

    .navBar-text.logo {
        left: 120vw;
        transition-delay: var(--transition-time);
        transition: var(--transition-time);
    }

    nav.open .navBar-text.logo {
        left: 5rem;
    }
    
    nav.open .navBar-link.logo svg {
        transform: rotate(90deg);
    }
}


/* Large screens */
@media only screen and (min-width: 600px) {
    nav {
        left: 0;
        top: 0;
        bottom: 0;
        width: 5rem;
    }

    nav.open {
        width: 17rem;
    }

    nav ul {
        flex-direction: column;
    }
 
    .navBar-text.logo {
        left: -999px;
        transition: var(--transition-time);
    }

    nav.open .navBar-text.logo {
        left: 2.5rem;
    }
    
    nav.open .navBar-link.logo svg {
        transform: rotate(-270deg);
        margin-left: 12rem;
    }
}


/* Scroll Bar */

nav::-webkit-scrollbar {
    width: 0.3rem;
}
  
nav::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
  
nav::-webkit-scrollbar-thumb {
    background: var(--orange-primary);
    transition: all 200ms ease;
}
  
nav::-webkit-scrollbar-thumb:active {
    background: var(--orange-secondary);
}
  
  