/* ----- GENERAL ----- */

html {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: var(--white);

  /* var */
  --purple: #8a1fff;
  --light-purple: #b36bff;
  --white: #ffffff;
  --light-gray: #666667;
  --dark-gray: #201f1d;
  --black: #151513;

  --skeleton-light: 207, 205, 201;
  --skeleton-dark: 148, 145, 137;
}

body {
  text-align: center;
  margin: 0px;
}

h2 {
  margin-top: 0px;
}

div {
  font-size: max(1.3rem, 1.3vw);
  font-family: "PT Sans";
}

div.page {
  margin: auto;
  height: max(100%, 90vh);
  width: auto;
}

div.title {
  margin: 3.9vw var(--section-padding-side) 0px;

  display: flex;
  justify-content: space-between;

  border-bottom: 0.08em solid var(--dark-gray);
}

div.title > h1 {
  font-size: max(2.5em, 4.5vw);
  font-weight: 600;
  margin: 0px;
}

div.title > h2 {
  font-size: max(1.75rem, 1.8vw);
  font-weight: 400;
  margin: auto 0em 0.5em 0em;
  height: fit-content;
}

div.nav {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

div.nav > a {
  margin: 0 1rem;
  padding: 0.2rem 0.6rem;

  border: 0.2rem solid transparent;
  border-top: none;
  border-right: none;
  border-radius: 0.3rem;
  
  color: var(--black);
  font-style: normal;
  text-decoration: none;
}

div.nav > a.current {
  border-color: var(--purple);
  background-color: var(--light-purple);
}

div.section {
  width: auto;

  padding: min(2em, 6vh) var(--section-padding-side);
}

div.separator {
  height: 2em;
}

div.gray {
  background-color: var(--light-gray);
  color: var(--white);
}

div.purple-border {
  border: max(0.3rem, 0.33vw) solid var(--light-purple);
  padding: max(2rem, 2.2vw);
  width: fit-content;
  margin: auto;
}

div.flex {
  display: flex;
  justify-content: space-evenly;
}

div.section > div.flex:first-child:not(.purple-border):not(.gray) {
  padding-top: 0px;
}

div.stack {
  display: grid;
  place-items: center;
}

div.stack > * {
  grid-area: 1 / 1 / 1 / 1;
}

div.vertical {
  flex-direction: column;
  align-items: center;
}

div.spaced {
  display: flex;
  justify-content: space-evenly;

  padding: max(1em, 1.1vw);
  gap: max(1em, 1.1vw);
}

div.spaced > h2 {
  margin: 0px;
}

p {
  font-size: max(1.2rem, 1.3vw);
  font-family: "PT Sans";
  margin: 5px;
}

span {
  font-size: max(1.2rem, 1.3vw);
  font-family: "PT Sans";
  margin: 0px;
}

ul {
  list-style: inside;
  list-style-type: square;
}

a {
  color: var(--light-purple);
  font-weight: 600;
  font-style: italic;
}


/* Image */
img {
  display: block;
  margin: 0px auto;

  max-height: 500px;
  max-width: 100%;
}

img.skeleton {
  animation: img-skeleton-animation 1s ease-in-out infinite alternate;
}

@keyframes img-skeleton-animation {
  0% {
    background-color: rgba(var(--skeleton-light), 0.8);
  }
  100% {
    background-color: rgba(var(--skeleton-dark), 0.8);
  }
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: max(0.65rem, 0.7vw);
}

body::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

body::-webkit-scrollbar-thumb {
  background: var(--light-purple);
  transition: all 200ms ease;

  border: 0.2rem solid var(--dark-gray);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  border-width: 0.15rem;
}

body::-webkit-scrollbar-thumb:active {
  background: var(--purple);
}

@supports (scrollbar-color: var(--light-purple) var(--dark-gray)) {
  * {
    scrollbar-color: var(--light-purple) var(--dark-gray);
    scrollbar-width: thin;
  }
}

/* Material-UI */
.MuiInputBase-input.MuiOutlinedInput-input {
  background: white;
}


/* Cercle */
div#cercle-game {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 3rem auto;

  border: solid var(--light-gray) 5px;
  border-radius: 50%;

  transform: scale(75%);
  transition: all 0.5s;
}

div#cercle-game:focus {
  border: solid var(--dark-gray) 5px;
  transform: none;
}

div#cercle-game > div.cercle-ball {
  --size: 20px;
  
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  
  width: var(--size);
  height: var(--size);
  
  border-radius: 50%;
  background-color: var(--purple);
}

div#cercle-game > div.cercle-ennemy {
  --width: 15px;
  --height: 40px;
  
  position: absolute;
  top: calc(50% - var(--height) / 2);
  left: calc(50% - var(--width) / 2);

  width: var(--width);
  height: var(--height);

  background-color: var(--light-purple);
  z-index: -1;
}

div#cercle-game ~ div.stack > p#cercle-click {
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 0.2s;
}

div#cercle-game:focus ~ div.stack > p#cercle-click {
  opacity: 0;
  transition-delay: 0s;
}

div#cercle-game ~ div.stack > p#cercle-score {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0s;
}

div#cercle-game:focus ~ div.stack > p#cercle-score {
  opacity: 1;
  transition-delay: 0.2s;
}


/* Buttons Tic Tac Toe */
.MuiButton-root.tuileTicTacToe {
  background-color: var(--light-purple);
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border: 3px solid var(--black);
}

.MuiButton-text.tuileTicTacToe.Mui-disabled {
  color: var(--dark-gray);
}

.MuiButton-root.tuileTicTacToe.Gagnant {
  background-color: var(--purple);
}

/* Other */
.youtubePlayer {
  aspect-ratio: 1920 / 1080;
  width: min(100%, 700px);

  margin: 20px auto;
}

/* Small screens */
@media only screen and (max-width: 800px) {
  div {
    --section-padding-side: 5vw;
  }

  div#root {
    margin-bottom: max(5rem, 10vh);
  }

  div.title {
    flex-direction: column;
    margin: 0px;
    border: none;
  }

  div.title > h1 {
    text-align: center;
  }

  div.title > h2 {
    text-align: center;
  }
}

/* Large screens */
@media only screen and (min-width: 800px) {
  div {
    --section-padding-side: 11vw;
  }

  div#root {
    margin-left: max(5rem, 5.5vw);
  }

  div.title > h1 {
    text-align: left;
    margin-right: max(2rem, 2.2vw);
  }

  div.title > h2 {
    text-align: right;
  }
}

/* ----- GENERAL END ----- */





/* ----- HEADER ----- */

nav {
  --text-light: var(--white);
  --text-dark: var(--white-dark);
  --bg-light: var(--dark-gray);
  --bg-dark: var(--black);
  --transition-time: 450ms;

  position: fixed;
  overflow: hidden;
  background-color: var(--bg-light);
  z-index: 200;
}

nav.open {
  overflow-y: scroll;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav > ul > li {
  width: 100%;
}

nav a {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5em;
  text-decoration: none;
  font-style: normal;
  filter: grayscale(100%) opacity(0.7);
  transition: filter 400ms ease;
}

nav a:hover {
  background-color: var(--bg-dark);
  filter: grayscale(0%) opacity(1);
}

nav a.logo {
  background-color: var(--bg-dark);
}

nav a.current {
  filter: grayscale(15%) opacity(0.8);
}

nav svg {
  width: 2.5em;
  height: 3em;
  min-width: 2.5em;
  padding: 0 1.25em;
  transition: transform var(--transition-time) ease,
    margin var(--transition-time) ease;
}

nav a.logo > svg {
  width: 2.5em;
  height: 2.5em;
}

nav span {
  display: block;
  color: var(--text-light);
  opacity: 0;
  white-space: nowrap;
  transition: opacity calc(var(--transition-time) / 2) ease;
}

nav.open span {
  opacity: 1;
}

nav a.logo > span {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.3ch;
  width: 100vw;

  display: inline;
  position: absolute;

  transition: left var(--transition-time);
}

nav svg .fa-light {
  color: var(--light-purple);
}

nav svg .fa-dark {
  color: var(--purple);
}

nav li:last-child {
  background-color: var(--bg-light);
  margin-top: auto;
  width: auto;
  pointer-events: none;

  opacity: 0;
  transition: opacity calc(var(--transition-time) / 2) ease;
}

nav.open li:last-child {
  pointer-events: auto;
  opacity: 1;
}

nav li:last-child div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

nav li:last-child a {
  display: inline-block;
  text-decoration: none;

  width: 3em;
  height: 3em;
  margin: 1em;

  filter: grayscale(100%);
  transition: filter 400ms ease;
}

nav li:last-child a:hover {
  filter: grayscale(0%);
}

nav li:last-child svg {
  width: 60%;
  height: 60%;
  margin: 20% 0;
  padding: 0;
}

/* Small screens */
@media only screen and (max-width: 800px) {
  nav {
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em;

    transition: height var(--transition-time) ease;
    font-size: max(1rem, 2vh);
  }

  nav.open {
    height: 100vh;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: stretch;
  }

  nav > ul {
    flex-direction: column;
  }

  nav a.logo > span {
    left: 101vw;
    transition-delay: calc(var(--transition-time) / 2);
    transition-duration: calc(var(--transition-time) / 2);
  }

  nav.open a.logo > span {
    left: 3.3em;
  }

  nav.open a.logo > svg {
    transform: rotate(90deg);
  }
}

/* Large screens */
@media only screen and (min-width: 800px) {
  nav {
    left: 0;
    top: 0;
    bottom: 0;
    width: 5em;

    transition: width var(--transition-time) ease;
    font-size: max(1rem, 1.1vw);
  }

  nav.open {
    width: 17em;
  }

  nav ul {
    flex-direction: column;
  }

  nav a.logo > span {
    left: -999px;
  }

  nav.open a.logo > span {
    left: 2.5em;
  }

  nav.open a.logo > svg {
    transform: rotate(-270deg);
    margin-left: 12em;
  }
}

/* Scroll Bar */

nav::-webkit-scrollbar {
  width: 0.4em;
}

nav::-webkit-scrollbar-track {
  background: var(--bg-light);
}

nav::-webkit-scrollbar-thumb {
  background: var(--light-purple);
  transition: all 200ms ease;

  border: 0.1em solid var(--dark-gray);
  border-radius: 100vw;
}

nav::-webkit-scrollbar-thumb:active {
  background: var(--purple);
}

@supports (scrollbar-color: var(--light-purple) var(--dark-gray)) {
  nav {
    scrollbar-color: var(--light-purple) var(--dark-gray);
    scrollbar-width: thin;
  }
}

/* ----- HEADER END ----- */
