/* ----- GENERAL ----- */

html {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: var(--white);

  /* var */
  --purple: #8a1fff;
  --light-purple: #b36bff;
  --white: #ffffff;
  --light-gray: #666667;
  --dark-gray: #201f1d;
  --black: #151513;

  --skeleton-light: 207, 205, 201;
  --skeleton-dark: 148, 145, 137;
}

body {
  text-align: center;
  margin: 0px;
}

div {
  font-size: max(1.2rem, 1.3vw);
  font-family: "PT Sans";

  --section-padding-side: max(10rem, 11vw);
}

div.page {
  margin: auto;
  height: max(100%, 90vh);
  width: auto;
}

div.title {
  margin: max(3rem, 3.9vw) var(--section-padding-side) 0px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  border-bottom: 0.08em solid var(--dark-gray);
}

div.title > h1 {
  font-size: max(6.8rem, 3.8vw);
  font-weight: 600;
  line-height: 1.16;
  margin: 0px;
}

div.title > h2 {
  font-size: max(1.7rem, 1.8vw);
  font-weight: 400;
  margin: auto 0em 0.5em 0em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div.section {
  width: auto;

  padding: 3em var(--section-padding-side);
}

div.separator {
  height: 2em;
}

div.gray {
  background-color: var(--light-gray);
  color: var(--white);
}

div.purple-border {
  border: max(0.7rem, 0.77vw) solid var(--light-purple);
  padding: max(2rem, 2.2vw);
}

div.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.flex-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

  padding: max(1em, 1.1vw);
  gap: max(1em, 1.1vw);
}

p {
  font-size: max(1.2rem, 1.3vw);
  font-family: "PT Sans";
  margin: 5px;
}

span {
  font-size: max(1.2rem, 1.3vw);
  font-family: "PT Sans";
  margin: 0px;
}

ul {
  list-style: inside;
  list-style-type: square;
}

a {
  color: var(--light-purple);
  font-weight: 600;
  font-style: italic;
}


/* Image */
img {
  display: block;
  margin: 0px auto;

  max-height: 500px;
  max-width: 100%;
}

img.skeleton {
  -webkit-animation: img-skeleton-animation 1s ease-in-out infinite alternate;
          animation: img-skeleton-animation 1s ease-in-out infinite alternate;
}

@-webkit-keyframes img-skeleton-animation {
  0% {
    background-color: rgba(var(--skeleton-light), 0.8);
  }
  100% {
    background-color: rgba(var(--skeleton-dark), 0.8);
  }
}

@keyframes img-skeleton-animation {
  0% {
    background-color: rgba(var(--skeleton-light), 0.8);
  }
  100% {
    background-color: rgba(var(--skeleton-dark), 0.8);
  }
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: max(0.65rem, 0.7vw);
}

body::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

body::-webkit-scrollbar-thumb {
  background: var(--light-purple);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;

  border: 0.2rem solid var(--dark-gray);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  border-width: 0.15rem;
}

body::-webkit-scrollbar-thumb:active {
  background: var(--purple);
}

@supports (scrollbar-color: var(--light-purple) var(--dark-gray)) {
  * {
    scrollbar-color: var(--light-purple) var(--dark-gray);
    scrollbar-width: thin;
  }
}

/* Material-UI */
.MuiInputBase-input.MuiOutlinedInput-input {
  background: white;
}

/* Buttons Tic Tac Toe */
.MuiButton-root.tuileTicTacToe {
  background-color: var(--light-purple);
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border: 3px solid var(--black);
}

.MuiButton-text.tuileTicTacToe.Mui-disabled {
  color: var(--dark-gray);
}

.MuiButton-root.tuileTicTacToe.Gagnant {
  background-color: var(--purple);
}

/* Other */
.youtubePlayer {
  aspect-ratio: 1920 / 1080;
  width: min(100%, 700px);

  margin: 20px auto;
}

/* Small screens */
@media only screen and (max-width: 800px) {
  div#root {
    margin-bottom: max(5rem, 10vh);
  }

  div.title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.title > h1 {
    text-align: center;
  }

  div.title > h2 {
    text-align: center;
  }
}

/* Large screens */
@media only screen and (min-width: 800px) {
  div#root {
    margin-left: max(5rem, 5.5vw);
  }

  div.title > h1 {
    text-align: left;
    margin-right: max(2rem, 2.2vw);
  }

  div.title > h2 {
    text-align: right;
  }
}

/* ----- GENERAL END ----- */

/* ----- HEADER ----- */

nav {
  --text-light: var(--white);
  --text-dark: var(--white-dark);
  --bg-light: var(--dark-gray);
  --bg-dark: var(--black);
  --transition-time: 450ms;

  position: fixed;
  overflow: hidden;
  background-color: var(--bg-light);
  z-index: 200;
}

nav.open {
  overflow-y: scroll;
}

nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav > ul > li {
  width: 100%;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5em;
  text-decoration: none;
  font-style: normal;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: -webkit-filter 400ms ease;
  transition: -webkit-filter 400ms ease;
  transition: filter 400ms ease;
  transition: filter 400ms ease, -webkit-filter 400ms ease;
}

nav a:hover {
  background-color: var(--bg-dark);
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
}

nav a.logo {
  background-color: var(--bg-dark);
}

nav a.current {
  -webkit-filter: grayscale(15%) opacity(0.8);
          filter: grayscale(15%) opacity(0.8);
}

nav svg {
  width: 2.5em;
  height: 3em;
  min-width: 2.5em;
  padding: 0 1.25em;
  -webkit-transition: margin var(--transition-time) ease,
    -webkit-transform var(--transition-time) ease;
  transition: margin var(--transition-time) ease,
    -webkit-transform var(--transition-time) ease;
  transition: transform var(--transition-time) ease,
    margin var(--transition-time) ease;
  transition: transform var(--transition-time) ease,
    margin var(--transition-time) ease,
    -webkit-transform var(--transition-time) ease;
}

nav a.logo > svg {
  width: 2.5em;
  height: 2.5em;
}

nav span {
  display: block;
  color: var(--text-light);
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: opacity calc(var(--transition-time) / 2) ease;
  transition: opacity calc(var(--transition-time) / 2) ease;
}

nav.open span {
  opacity: 1;
}

nav a.logo > span {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.3ch;
  width: 100vw;

  display: inline;
  position: absolute;

  -webkit-transition: left var(--transition-time);

  transition: left var(--transition-time);
}

nav svg .fa-light {
  color: var(--light-purple);
}

nav svg .fa-dark {
  color: var(--purple);
}

nav li:last-child {
  background-color: var(--bg-light);
  margin-top: auto;
  width: auto;
  pointer-events: none;

  opacity: 0;
  -webkit-transition: opacity calc(var(--transition-time) / 2) ease;
  transition: opacity calc(var(--transition-time) / 2) ease;
}

nav.open li:last-child {
  pointer-events: auto;
  opacity: 1;
}

nav li:last-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

nav li:last-child a {
  display: inline-block;
  text-decoration: none;

  width: 3em;
  height: 3em;
  margin: 1em;

  -webkit-filter: grayscale(100%);

          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 400ms ease;
  transition: -webkit-filter 400ms ease;
  transition: filter 400ms ease;
  transition: filter 400ms ease, -webkit-filter 400ms ease;
}

nav li:last-child a:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

nav li:last-child svg {
  width: 60%;
  height: 60%;
  margin: 20% 0;
  padding: 0;
}

/* Small screens */
@media only screen and (max-width: 800px) {
  nav {
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em;

    -webkit-transition: height var(--transition-time) ease;

    transition: height var(--transition-time) ease;
    font-size: max(1rem, 2vh);
  }

  nav.open {
    height: 100vh;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: stretch;
  }

  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav a.logo > span {
    left: 101vw;
    -webkit-transition-delay: calc(var(--transition-time) / 2);
            transition-delay: calc(var(--transition-time) / 2);
    -webkit-transition-duration: calc(var(--transition-time) / 2);
            transition-duration: calc(var(--transition-time) / 2);
  }

  nav.open a.logo > span {
    left: 3.3em;
  }

  nav.open a.logo > svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* Large screens */
@media only screen and (min-width: 800px) {
  nav {
    left: 0;
    top: 0;
    bottom: 0;
    width: 5em;

    -webkit-transition: width var(--transition-time) ease;

    transition: width var(--transition-time) ease;
    font-size: max(1rem, 1.1vw);
  }

  nav.open {
    width: 17em;
  }

  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav a.logo > span {
    left: -999px;
  }

  nav.open a.logo > span {
    left: 2.5em;
  }

  nav.open a.logo > svg {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    margin-left: 12em;
  }
}

/* Scroll Bar */

nav::-webkit-scrollbar {
  width: 0.4em;
}

nav::-webkit-scrollbar-track {
  background: var(--bg-light);
}

nav::-webkit-scrollbar-thumb {
  background: var(--light-purple);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;

  border: 0.1em solid var(--dark-gray);
  border-radius: 100vw;
}

nav::-webkit-scrollbar-thumb:active {
  background: var(--purple);
}

@supports (scrollbar-color: var(--light-purple) var(--dark-gray)) {
  nav {
    scrollbar-color: var(--light-purple) var(--dark-gray);
    scrollbar-width: thin;
  }
}

/* ----- HEADER END ----- */
