:root {
  --gris: #343434ff;
  --bleu-marin: #2f3061ff;
  --bleu: #5899e2ff;
  --beige: #E8EBD6ff;
  --rose-saumon: #fe938cff;
  --rose: #e36397ff;
  --blanc: #fbfbfbff;
}

body {
  background-color: var(--gris);
  margin: 10px;
  font-family: Arial;
}

.MuiContainer-root {
  padding: 15px;
  height: 100%;
  background-color: var(--blanc);
}

.MuiToolbar-root {
  background-color: var(--bleu);
}