:root {
  font-size: 16px;
  font-family: 'Open Sans';

  --white-primary: #FFFCF2;
  --white-secondary: #CCC5B9;
  --black-primary: #201F1D;
  --black-secondary: #151513;
  --orange-primary: #EF8257;
  --orange-secondary: #EA591F;
  --blue-primary: #407AB5;
  --blue-secondary: #2E559E;
}

body {
  text-align: center;
  margin: 0px;
}

/* Scroll Bar */

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: var(--black-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--orange-primary);
  transition: all 200ms ease;
}

body::-webkit-scrollbar-thumb:active {
  background: var(--orange-secondary);
}


/* Material-UI */

.MuiContainer-root {
  padding: 15px;
  height: 100%;
  background-color: var(--white-primary);
}

.MuiToolbar-root {
  background-color: var(--bleu);
}

.MuiInputBase-input.MuiOutlinedInput-input {
  background: white;
}


/* Buttons Tic Tac Toe */

.MuiButton-root.tuileTicTacToe {
  background-color: var(--blue-primary);
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border: 3px solid var(--black-secondary);
}

.MuiButton-text.tuileTicTacToe.Mui-disabled {
  color: var(--black-primary);
}

.MuiButton-root.tuileTicTacToe.Gagnant {
  background-color: var(--orange-secondary);
}


/* Other */

.youtubePlayer {
  max-height: 360px;
  width: 100%;
  max-width: 640px;

  margin: 20px auto;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  #root {
    padding: 1rem;
    margin-bottom: 5rem;
  }

  body {
    background-color: var(--white-primary);
  }
}


/* Large screens */
@media only screen and (min-width: 600px) {
  #root {
    margin-left: 5rem;
    padding: 3rem;
  }
  
  body {
    background-color: var(--white-secondary);
  }
}