:root {
  --gris: #343434ff;
  --bleu-marin: #2f3061ff;
  --bleu: #5899e2ff;
  --beige: #E8EBD6ff;
  --rose-saumon: #fe938cff;
  --rose: #e36397ff;
  --blanc: #fbfbfbff;
}

body {
  background-color: var(--gris);
  margin: 10px;
  font-family: Arial;
  font-size: 16px;
}

#root {
  min-width: 300px;
}

.MuiContainer-root {
  padding: 15px;
  height: 100%;
  background-color: var(--blanc);
}

.MuiToolbar-root {
  background-color: var(--bleu);
}

.MuiButton-root.tuileTicTacToe {
  background-color: var(--rose);
  height: 0px;
  width: 0px;
  border-radius: 0px;
  border: 3px solid var(--gris);
  padding: 47%;
}

.MuiButton-text.tuileTicTacToe.Mui-disabled {
  color: var(--gris);
  height: 0px;
  width: 0px;
  padding: 47%;
}

.MuiButton-root.tuileTicTacToe.Gagnant {
  background-color: var(--bleu);
}

.youtubePlayer {
  max-height: 360px;
  width: 100%;
  max-width: 640px;

  margin: 20px auto;
}